.container{
    width: 100dvw;
    display: flex;
    justify-content: center;
}

.container button{
    font-size: 1.2rem;
    width: 200px;
    border: none;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.container button:hover{
    cursor: pointer;
}